<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Alltailors.css">
</head>
<body>
    <div class="outerContainer">
        <h1 class="heading">Choose from our huge number of expert verified tailors</h1>
    <%for(let tailor of Tailors){%>
            <div class="card">
                <h1 class="title"><%=tailor.fullname%></h1>
                <br>
                <h3>@<%= tailor.tailorId%></h3>
                <h2><%= tailor.address%></h2>
                <br>
                <form action="/Tailor-designs/<%=tailor.tailorId%>" method="get">
                    <button class="button">Explore creations</button>
                </form>
            </div>
        <%}%>  
    </div>  
</body>
</html>