<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Homepage.css">
</head>
<body>
    <div class="navbar">
        <h1 class="logo">🪡SuiDhaaga</h1>
        <div class="tabs">
            <a href="" class="tab">Home</a>
            <a href="" class="tab">About Us</a>
            <a href="/our-tailors" class="tab">Our Tailors/Designers</a>
            <a href="/all-fabrics" class="tab">Explore Fabrics</a>
            <a href="" class="tab">Book a Measurement</a>
        </div>
        
    </div> 
    <img src="/images/img1.jpg" alt="" class="hero_image">   
    <h1 class="tag1">"Handcrafted Elegance, Tailored <br>Just for You."</h1>
    <h1 class="tag1" id="second">From local tailors to luxury stitching — <br> YOUR OUTFIT, YOUR WAY.</h1>
    <br>
    <form action='/join-as-a-tailor' method="get">
        <button class="join1">Join as a tailor</button>
    </form>
    <br>
    <form action="/Register-as-a-seller" method="get">
        <button class="join1">Sell your product</button>
    </form>
    <br>
    <div class="about">
        <h1 class="heading">ABOUT US</h1>
        <br>  <br>
        <div class="about_us">
            <div class="box1">
                <h1>Vision</h1>
                <br>
                <h3>
                    At Sui & Dhaaga, our vision is to reimagine the way people experience tailoring. In a world where fast fashion dominates, we believe in the charm, precision, and sustainability of custom-made clothing. We aim to create a digital ecosystem that connects skilled local tailors with customers who value craftsmanship, individuality, and comfort. By combining tradition with technology, we strive to make custom stitching as accessible and effortless as shopping online — but infinitely more personal.
                </h3>
            </div>
            <div class="box1"> <h1>Mission</h1>
            <h3>
                Our mission is to bring the tailoring shop to your doorstep. We’re on a journey to empower independent tailors by providing them with a platform to showcase their skills and earn recognition beyond their neighborhoods. At the same time, we help customers transform their fabrics into beautifully stitched outfits, perfectly fitted to their bodies and tastes. Through easy online bookings, transparent pricing, and trusted reviews, we’re creating a community that values quality, personalization, and convenience — stitch by stitch.


            </h3>
            </div>
            <div class="box1"> <h1>Customers</h1>
                <h3>
                    Our platform is built for everyone who prefers clothing that fits not just their body, but also their personality. Whether you’re a college student with a unique fashion sense, a working professional who values neat tailoring, a bride-to-be designing her dream outfit, or a homemaker with a stack of untouched fabrics — Sui & Dhaaga is for you. If you care about fit, fabric, and fashion that speaks you, we’re here to stitch your vision into reality.

                </h3>            
            </div>

            
        </div>      
        <br><br><br><br>
        <h1 class="tag3">Choose from among out 250+ verified tailors and wide range of fabrics</h1>
    </div>

    <div class="materials">
        <form action="">
            <button class="button"> <img class="buttonimage" src="/images/image5.jpeg" alt="">
                <br>
                <h3>Designer COTTON fabrics starting at just Rs.130 per meter</h3>
            </button>
        </form>
        <form action="">
            <button class="button"> <img class="buttonimage" src="/images/img3.jpg" alt="">
                <br>
                <h3>Designer SILK fabrics starting at just Rs.130 per meter</h3>
            </button>
        </form>
        <form action="">
            <button class="button"> <img class="buttonimage" src="/images/img4.jpeg" alt="">
                <br>
                <h3>Designer RAYON fabrics starting at just Rs.140 per meter</h3>
            </button>
        </form>

    </div>
    <div class="bg">
    <br>
    <div class="fabricButton">
        <form action="/owner-login" method="get"><button class="fabBut">Owner?Check orders</button></form>
    </div>
    </div>
</body>
</html>