<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/SellerForm.css">
</head>
<body>
    
     <div class="outerContainer">
        <div class="innerContainer">
            <h1 class="fill">Enter your details</h1>
            <div class="form">
                <form action="/Save-seller-data" method="post" class="form1">
                    <input type="text" placeholder="Full Name" class="Name" name="name">
                    <input type="text" placeholder="Seller ID" class="Name" name="sellerid">
                    <input type="password" placeholder="Password" class="Name" name="password">
                    <input type="text" placeholder="Contact Number" class="Name" name="contactno">
                    <input type="text" placeholder="Shop Name/Brand Name" class="Name" name="brandname">
                    <input type="text" placeholder="City" class="Name" name="city">
                    <button class="submit" >Join as a seller</button>
                    <br>
                    <a href="/login-as-a-seller" class="link">Already have an account? Sign in</a>

                    
                </form>                
            </div>

        </div>
     </div>   
</body>
</html>