<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/SellerLoginForm.css">
</head>
<body>
    <div class="login-container">
        <form class="login-form" method="post" action="/logged-in-as-a-seller">
            <h2>Seller Login</h2>
            <input type="text" placeholder="Seller ID" required name="sellerid">
            <input type="password" placeholder="Password" required name="password">
            <button type="submit">Login</button>
        </form>
    </div>  
</body>
</html>