<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/SellerForm.css">
</head>
<body>
    
     <div class="outerContainer">
        <h1 class="heading">Join our sellers conmmunity</h1>
        <br>
        <div class="innerContainer">
            <form action="/Save-seller-data" method="post">
                <input type="text" placeholder="Full name" class="Name" name="name">
                <input type="text" placeholder="Seller ID" class="sellerid" name="sellerid">
                <input type="password" placeholder="Password" class="password" name="password">
                <br><br>
                <input type="text" placeholder="Contact Number" class="contactno" name="contactno">
                <input type="text" placeholder="Shop Name/Brand Name" class="brandname" name="brandname">
                <input type="text" placeholder="City" class="city" name="city">
                <br><br>
                <button class="submit">Join as a seller</button>
                <br><br>
                <a href="/login-as-a-seller" class="link">Already have an account? Sign in</a>
            </form>
            <br>
            
        </div>
     </div>   
</body>
</html>