body {
    margin: 0;
    padding: 0;
    background-color: brown; 
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.login-container {
    background-color: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    width: 320px;
}


.login-form h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}


.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.login-form button {
    width: 100%;
    padding: 10px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

.login-form button:hover {
    background-color: brown;
}


.forgot-container {
    text-align: right;
    margin-top: 10px;
}

.forgot-password {
    font-size: 0.9em;
    color: brown;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}